
{{ template "base" .}}
{{ define "content" }}
  <div class="container">
    <div class="row">
    <div class="col">
    <h1>This is aboutpage</h1>
    <p>This came from the template: {{index .StringMap "test"}}</p>
    </div>
    </div>
    <p>
      {{ if ne (index .StringMap "remote_ip") "" }}
      Your remote Ip address is {{ index .StringMap "remote_ip" }}
      {{else}}
      I dont know your IP address
      {{end}}
    </p>
  </div>
{{end}}